// Animate.css
// ================================================

@import "animations/sliders";

@mixin animation($animation-type:null) {
    // Checking for Sliders
    @if $animation-type == slide-in-down {
            @include slide-in-down();
    } @elseif $animation-type == slide-in-up {
            @include slide-in-up();
    } @elseif $animation-type == slide-in-left {
            @include slide-in-left();
    } @elseif $animation-type == slide-in-right {
            @include slide-in-right();
    } @elseif $animation-type == slide-out-left {
            @include slide-out-left();
    } @elseif $animation-type == slide-out-right {
            @include slide-out-right();
    } @elseif $animation-type == slide-out-up {
            @include slide-out-up();
    } @elseif $animation-type == slide-out-down {
            @include slide-out-down();
    }
}

@mixin animate($animation-type:null, $animation-duration: 1s, $animation-delay: null) {
    -webkit-animation-duration: $animation-duration;
    -moz-animation-duration: $animation-duration;
    -o-animation-duration: $animation-duration;
    animation-duration: $animation-duration;
    -webkit-animation-fill-mode: both;
    -moz-animation-fill-mode: both;
    -o-animation-fill-mode: both;
    animation-fill-mode: both;

    @if $animation-delay {
        -webkit-animation-delay: $animation-delay;
        -moz-animation-delay: $animation-delay;
        -o-animation-delay: $animation-delay;
        animation-delay: $animation-delay;
    }

    // Animating Sliders
    @if $animation-type == slide-in-down {
            @include animation-call(slideInDown);
    } @elseif $animation-type == slide-in-up {
            @include animation-call(slideInUp);
    } @elseif $animation-type == slide-in-left {
            @include animation-call(slideInLeft);
    } @elseif $animation-type == slide-in-right {
            @include animation-call(slideInRight);
    } @elseif $animation-type == slide-out-left {
            @include animation-call(slideOutLeft);
    } @elseif $animation-type == slide-out-right {
            @include animation-call(slideOutRight);
    } @elseif $animation-type == slide-out-up {
            @include animation-call(slideOutUp);
    } @elseif $animation-type == slide-out-down {
            @include animation-call(slideOutDown);
    }
}

@mixin animation-call($animation-name) {
    -webkit-animation-name: $animation-name;
    -moz-animation-name: $animation-name;
    -o-animation-name: $animation-name;
    animation-name: $animation-name;
}