@import url(https://fonts.googleapis.com/css?family=Roboto:400,500);

@import "animated/animated";

@include animation(slide-in-left);
@include animation(slide-in-right);
@include animation(slide-out-left);
@include animation(slide-out-right);
@include animation(slide-in-up);
@include animation(slide-in-down);
@include animation(slide-out-down);
@include animation(slide-out-up);

.container {
	background: #FFFFFF;
	box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.12), 0px 1px 2px 0px rgba(0,0,0,0.24);
	border-radius: 2px;
	display: table;

	font-family: 'Roboto', sans-serif;
	font-size: 14px;
	font-weight: 400;
	color: #000000;
	letter-spacing: 0px;

	* {
		box-sizing: border-box;
		padding: 0;
		margin: 0;
	}
}

.canvas {
	background-position: 50% 50%;
	background-repeat: no-repeat;
	background-size: cover;
	height: 425px;
	overflow: hidden;
	position: relative;
	width: 640px;
}

.supplemental__caption {
	flex: 1 auto;
	margin-left: 32px;
}

.supplemental {
	display: flex;
	align-items: center;

	.primary {
		color: rgba(250,105,0,1);
		background-color: rgba(250,105,0,0);

		&:hover {
			background-color: rgba(250,105,0,0.12);
		}

		&:focus {
			background-color: rgba(250,105,0,0.12);
		}
	}
}


/**
 * Canvas purchase options
 */
.canvas__options {
	display: flex;
	flex-direction: column;
	height: 100%;
}

.canvas__option {
	height: 50%;
	list-style: none;
}

.canvas__stockoption--invisible {
	@include animate(slide-out-right, 1s);
}

.canvas__printoption--invisible {
	@include animate(slide-out-left, 1s);
}

.canvas__stockoption--visible {
	@include animate(slide-in-right, 0.2s);
}

.canvas__printoption--visible {
	@include animate(slide-in-left, 0.2s);
}

.canvas__optionlink {
	align-items: center;
	background: rgba(187,193,167,0.85);
	color: #fff;
	display: flex;
	font-size: 20px;
	font-weight: 500;
	height: 100%;
	justify-content: center;
	text-decoration: none;
	transition: all 0.2s ease-in;

	&:hover {
		background: rgba(250,105,0,0.90);
	}
}

/**
 * Stock purchases
 */
.canvas__stock,
.canvas__print {
	display: flex;
	flex-direction: column;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
}

.product__altlabel {
	background: rgba(187,193,167,0.85);
	color: #fff;
	flex: 1 0 auto;
	font-weight: 500;
	padding: 8px;
	text-align: center;
	text-decoration: none;
	transition: all .2s ease-in;
	width: 100%;

	&:hover {
		background: rgba(187,193,167,1);
	}
}

.product {
	align-items: center;
	background: rgba(250,105,0,0.90);
	color: #fff;
	display: flex;
	flex: 1 0 auto;
	flex-direction: column;
	justify-content: center;
}

.product__altlabel {
	animation-duration: 0.15s;
	animation-fill-mode: both;
	animation-name: contracts;
}

@keyframes contracts {
	100% {
		flex-grow: 0;
	}
}

.canvas__stock {
	.product--invisible {@include animate(slide-out-down, 0.2s);}
	.product__altlabel--invisible {@include animate(slide-out-up, 0.2s);}
}

.canvas__print {
	.product--invisible {@include animate(slide-out-up, 0.2s);}
	.product__altlabel--invisible {@include animate(slide-out-down, 0.2s);}
}

.product__productlabel {
	font-size: 20px;
	font-weight: 500;
}

.product__option {
	display: block;
	margin: 8px 0;
}

.product__optionlabel {
	margin: 0 8px;
}

/**
 * UI components
 */
.btn-flat {
	background-color: rgba(0,0,0,0);
	border-radius: 2px;
	border: none;
	color: rgba(0,0,0,0.54);
	cursor: pointer;
	font-weight: 500;
	margin: 8px 8px 8px 0;
	min-height: 36px;
	min-width: 64px;
	padding-left: 8px;
	padding-right: 8px;
	transition: all 0.2s ease-in;

	&:hover {
		background-color: rgba(0,0,0,0.12);
	}

	&:focus {
		outline: 0;
		background-color: rgba(0,0,0,0.12);
	}

	&.secondary {
		color: rgba(0,0,0,0.54);
	}
}